<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1 th:text="'Hello, ' + ${name} + '!'" />
    <p>Welcome to Docker demo ..This is PCA DevOps...</p>
    <br/>    
    <br/>    
	<img alt="" src="/Anthem.png"/>
	<img alt="" src="/docker.png"/>
</body>
</html>